.browser {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    .browser-menu {
        align-items: center;
        background-image: url('../../assets/checkeredbackground.jpg');
        box-shadow: 1px 1px 12px -6px #000000;
        box-sizing: border-box;
        display: flex;
        height: 70px;
        justify-content: center;
        left: 0;
        margin-bottom: 50px;
        padding: 20px;
        position: fixed;
        top:0 ;
        width: 100%;
        z-index: 1000;
        .menu-item{
            font-size: 22px;
            text-decoration: none;
            padding: 15px;
            &:nth-child(2){
                font-family: 'Cedarville Cursive', cursive;
            }
            &:nth-child(3){
                font-family: 'Bangers', sans-serif ;
            }
            &:nth-child(4){
                font-family: 'Odibee Sans', sans-serif ;
            }
        }
    }
}