.about-me{
    .about-me-content{
        background-image: url('../../assets/paperwallpaper.jpg');
        background-size: cover;
        width: 70%;
        height:80%;
        margin-top: 100px; 
        position: relative;
        p {
            margin: 15px;
            padding: 55px;
            padding-bottom:70px;
        }
    }
}