.about-me{ 
    .about-me-content{
        background-image: url('../../assets/paperwallpaper.jpg');
        background-size: cover;
        box-shadow: 0px 0px 14px -5px #00000070;
        width: 60%;
        height:80%;
        margin-top: 100px; 
       
        position: relative;
        z-index: 10;
        p {
            margin: 15px;
            padding: 55px;
            padding-bottom:70px;
        }
    }
}