.post-it{
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 340px;
    margin: 7px;
    padding: 40px;
    width: 380px;
    
}