.section {
    
    align-items: center;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin:35px;
    padding: 15px;
    width: 100%;
}